.container {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.h1 {
  font-size: 28px;
  color: #585858;
  font-weight: 500;
  background-color: rgb(34, 159, 159);
  padding: 0 10px;
  border-radius: 10px;
}
p {
  text-align: justify;
  font-size: 16px;
  color: #585858;
}
